.navbar {
  position: fixed;
  width: 100%;
  padding: 0 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: var(--NavFootColor);
}

.navbar__left {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar img {
  filter: invert(100%) sepia(0%) saturate(1423%) hue-rotate(224deg) brightness(121%) contrast(107%);
}

.navbar__right {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
    
.navbar__links {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

ul a {
  color: white;
  text-decoration: none;
}

ul li {
  padding: 5px;
  margin-left: 5px;
}

ul li:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

select {
  border-radius: 5px;
  padding: 5px 1px;
  margin-left: 10px;
  border: 1px;
}