:root {
    /* Light mode */
    --fontlightcolor: #2B2D42;
    --backgroundlightcolor: #E2DaD6;
    --secondarylightcolor: #7FA1C3;
    --navfootlightcolor: #6482AD;
  
      /* Dark mode */
    --fontdarkcolor: #EBF2FA;
    --backgrounddarkcolor: #1B4242;
    --secondarydarkcolor: #5C8374;
    --navfootdarkcolor: #092635;
  
    --fontColor: light-dark(var(--fontlightcolor), var(--fontdarkcolor));
    --backgroundColor: light-dark(var(--backgroundlightcolor), var(--backgrounddarkcolor));
    --secondaryColor: light-dark(var(--secondarylightcolor), var(--secondarydarkcolor));
    --NavFootColor: light-dark(var(--navfootlightcolor), var(--navfootdarkcolor));

    color: var(--fontColor);
    background-color: var(--backgroundColor);
  
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

:root:has(option[id="system__theme"]:checked) {
  color-scheme: light dark;
}

:root:has(option[id="light__theme"]:checked) {
  color-scheme: light;
}

:root:has(option[id="dark__theme"]:checked) {
  color-scheme: dark;
}